<div class="control-topbar">
    <!--topbar -->
    <div class="topbar-view">
        <!--logo-->
        <div class="topbar-logo topbar-left">
            <span class="glyphicon glyphicon-list"></span>
        </div>
        <!--内容-->
        <div class="topbar-elem">
            <div class="topbar-head topbar-left topbar-btn">
                <a href="javascript:;" class="topbar-link">
                    <span class="topbar-link-btn">管理控制台</span>
                </a>
            </div>
            <div class="topbar-nav topbar-left topbar-btn">
                <a href="javascript:;" class="topbar-link">
                    <span class="topbar-link-btn">产品与服务</span>
                </a>
            </div>
            <div class="topbar-info topbar-right">

                <div class="topbar-left topbar-btn">
                    <a href="javascript:;" class="topbar-link">
                        <span class="topbar-link-btn">搜索</span>
                    </a>
                </div>

                <div class="topbar-left topbar-btn">
                    <a href="javascript:;" class="topbar-link">
                        <span class="topbar-link-btn">提醒</span>
                    </a>
                </div>

                <div class="topbar-left topbar-btn">
                    <a href="javascript:;" class="topbar-link">
                        <span class="topbar-link-btn">用户帐号</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
